<div class="select-widget">
    <h3>Location</h3>
    <div class="select-wrapper">
   <i class="fa-solid fa-location-arrow"></i>
    <select class="select-location" name="" id="">
        <option value="San Marino">San Marino</option>
    </select>
    </div>
</div>
<div class="select-widget">
    <h3>Nights</h3>
    <div class="select-wrapper">
        <i class="fa-solid fa-bed"></i>
        <select name="" id="">
            <option value="7">7</option>
        </select>
    </div>
</div>
<div class="select-widget">
    <h3>People</h3>
    <div class="select-wrapper">
        <i class="fa-solid fa-user"></i>
        <select name="" id="">
            <option value="2">2</option>
        </select>
    </div>
</div>
<div class="search">
    <i class="fa-solid fa-magnifying-glass"></i>
</div>